/*
 * Globals
 */

body {
    background: #F8FAFC;
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    color: #555;
    font-family: "微软雅黑";
}
a:hover{
    color: #e67e22;
    text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}


/*
 * Masthead for nav
 */
.banner{
    text-align: center;
    padding: 84px 0;
    background: #ffffff;
    background-image: url(http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg);
}

.blog-masthead {
    text-align: center;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    border-bottom: 2px solid #e1e1e1;
    box-sizing: border-box;
    height: 50px;

    /*background-color: #428bca;*/
    /*-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);*/
    /*box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);*/
}
.blog-masthead h3{
    margin-right: 10px;
    float: left;
    line-height:50px;
    margin-bottom: 0;
}


/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 0px 20px;
    font-weight: 500;
    color: black;

    font-family: "微软雅黑";

}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #e67e22;
    background: none !important;
    text-decoration: none;

}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 10px;

}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}
.panel-heading{
    background: none !important;

    box-shadow: 0 2px 8px 0 rgba(7,17,27,.06);
}
.list-group-item{
   margin-bottom: 5px;
    background: white;
    transition: background 1s;
    -moz-transition: background 1s;	/* Firefox 4 */
    -webkit-transition: background 1s;	/* Safari 和 Chrome */
    -o-transition: background 1s;	/* Opera */
}
.list-group-item:hover{

}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}
.pagination li{
    font-size: 14px;
}


/*
 * Blog posts
 */

.blog-post {
    padding: 20px 20px 10px 20px;
    background: white;
    box-shadow: 0 2px 8px 0 rgba(7,17,27,.06);
    margin-bottom: 10px;

}
.blog-post-desc{
    height: 50px;
    font-size: 14px;
    word-wrap:break-word ;
    overflow: hidden;
}

.blog-post-title a{
    word-wrap:break-word ;
}


.blog-post-content{
    font-size: 15px;
    word-wrap:break-word ;
}

.blog-show .blog-post-title{

    font-size: 26px;
    word-wrap:break-word ;
    margin-bottom: 20px;
}

.blog-post-title a:hover{
    color: #e67e22;
    text-decoration: none;
}



.blog-post-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bolder;
}

.blog-post-title a{
    color: black;

}
.blog-post-meta {

    color: #999;
    font-size: 14px;
}
.blog-post-meta a{
    color: black;
    font-size: 14px;
}


/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;

    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.user-info{
    padding: 20px 20px 10px 20px;
    background: white;
    box-shadow: 0 2px 8px 0 rgba(7,17,27,.06);
    margin-bottom: 10px;
    font-size: 14px;
}
.user-info-right{
    padding: 10px 0px;
}
.nav-tabs-custom{
    margin: 0;
}
.nav-tabs a{
    font-size: 14px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: none !important;
    border: none;
    border-bottom: 2px solid #e67e22;
    color: #e67e22;
}

.nav>li.dropdown{
    margin-right: 18px;
    line-height: 50px;
    height: 50px !important;
}
.blog-zan a{
    font-size: 14px;
}
.post-comments{
    word-wrap: break-word;
    font-size: 16px;
}
